.product {
	@apply w-full m-0 border rounded-md overflow-hidden;
}

.product--bg {
	@apply bg-white;
}

.product__image {
	@apply border object-cover w-full;
}

.custom-height {
	@apply h-48;
}

.product__border {
	@apply border-gray-200;
}

.product__name {
	@apply text-base text-gray-700;
}

.product__name:hover {
	@apply underline text-gray-500;
}

.product__price {
	color: #ee4d2d;
	font-weight: 500;
}

.product--nostock {
	color: #ff0000;
}

.product--instock {
	@apply text-gray-500;
}


